body {
    background: url(https://source.unsplash.com/0oqMvhc1ntw) center/cover
        no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::before {
    /*pseudo child of body*/
    content: "";
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4); /*optional*/
    position: absolute;
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent !important; /*pentru a rescrie ceva din Bootstrap*/
}

.navbar a {
    color: #ddd !important;
}

.navbar-toggler {
    background-color: #ddd !important;
}

h1 {
    text-align: center;
    color: #ddd;
    font-size: 8rem;
    text-shadow: 1px 1px 2px #333;
}
.cards-Container {
    display: flex;
    width: 90vw;
}

.card {
    border: none;
}

div.card-container {
    height: 500px;
    width: 600px;
    box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 15px;
    color: #ddd;
    text-shadow: 1px 2px 2px #333;
    margin: 0 0.5rem;
    position: relative;
    flex: 0.2;
    transition: flex 0.3s ease-in;
}

div.card-container:hover {
    box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.8);
    transition: 0.3 ease-in;
}

div.card-container:nth-child(1) {
    background: url(https://source.unsplash.com/BNrqnvtzXio) center/cover
        no-repeat;
}

div.card-container:nth-child(2) {
    background: url(https://source.unsplash.com/wxggXydWNdE) center/cover
        no-repeat;
}

div.card-container:nth-child(3) {
    background: url(https://source.unsplash.com/QTy_KyEC8PY) center/cover
        no-repeat;
}

div.card-container:nth-child(4) {
    background: url(https://source.unsplash.com/tKs_2sBoqAg) center/cover
        no-repeat;
}

div.card-container:nth-child(5) {
    background: url(https://source.unsplash.com/hHL08lF7Ikc) center/cover
        no-repeat;
}

div.card-container.active {
    flex: 5;
}

.card-title {
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.2s;
}
